<h1>{{vm.pageTitle}}</h1>
<ul>
    <li ng-repeat="game in vm.games"><a href="/#!/game/{{game._id}}">{{game.title}}</a>
        <button ng-click="vm.delete(game._id)">Delete</button>
        <button><a href="/#!/game/{{game._id}}/edit">Edit</a></button>
    </li>
</ul>

<div>
    <form name="gameForm" ng-submit="vm.create()">
        Add Game
        <br/>Title: <input type="text" name='title' required ng-model="vm.gameData.title" style="color: black;" />
        <br/> Price: <input type="text" name='price' required ng-model="vm.gameData.price" style="color: black;" />
        <br/> Year:<input type="text" name='year' required ng-model="vm.gameData.year" style="color: black;" />
        <br/> Rate: <input type="text" name='rate' required ng-model="vm.gameData.rate" style="color: black;" pattern="[1-5]{1}" />
        <span ng-if="vm.gameForm.rate.$dirty && vm.gameForm.rate.$invalid" style="color: aliceblue;">Need proper ratting</span>
        <br/>minPlayers: <input type="text" name='minPlayers' required ng-model="vm.gameData.minPlayers" style="color: black;" pattern="^[1-9][0-9]?$" />
        <br/> Max players: <input type="text" name='maxPlayers' required ng-model="vm.gameData.maxPlayers" style="color: black;" pattern="^[1-9][0-9]?$" />
        <br/> minAge: <input type="text" name='minAge' required ng-model="vm.gameData.minAge" style="color: black;" />
        <br/> designer: <input type="text" name='designer' required ng-model="vm.gameData.designers" style="color: black;" />
        <br/>
        <button type="submit" class="btn-sucess">Add game</button>
    </form>
</div>