{{vm.title}}

<ul>
    <li ng-repeat="job in vm.jobs"> <a href="/#!/jobs/{{job._id}}">{{job.title}}</a>
        <button ng-click="vm.deleteJob(job._id)">delete</button>
        <a href="/#!/jobs/{{job._id}}/edit">Edit</a>
    </li>
</ul>
<form name="jobform" ng-submit="vm.create()" validate>
    Title: <input type="text" required ng-model="vm.formdata.title" name="title" />
    <br/>Salary: <input type="number" required ng-model="vm.formdata.salary" name="salary" required pattern="^[0-9]{1,}(.[0-9]{1,})?$" />
    <br/>description: <input type="text" required ng-model="vm.formdata.description" name="description" />
    <br/>experience: <input type="text" required ng-model="vm.formdata.experience" name="experience" />
    <br/>skills: <input type="text" required ng-model="vm.formdata.skills" required name="skills" />
    <br/>postDate: <input type="date" required ng-model="vm.formdata.postDate" name="postDate" />
    <br/>Location Lat: <input type="number" step="any" required ng-model="vm.formdata.lat" name="latitude" />
    <br/>Location Lng: <input type="number" step="any" required ng-model="vm.formdata.lng" name="longtude" />

    <br/><button type="submit">Update</button>

</form>